################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PrashanthquickCom2/.vs/PrashanthquickCom2
